*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    
    border: solid 1px black;
    width: 30%;
}
.container div {
    display: flex;
    justify-content: center;
    background-color: aqua;
}